[mysqld]
# --- Mandatory CDC Configurations ---
log-bin=mysql-bin
binlog-format=ROW
binlog-row-image=FULL
server-id=101

# --- 1 Billion Record Scale Performance Tweaks ---
# Keeps transaction history logs for exactly 4 days to balance disk usage vs. fallback recovery
binlog_expire_logs_seconds=345600 

# Expand database engine buffer pool size based on host resources (Aim for 60-70% of total host RAM in pure production)
innodb_buffer_pool_size=4G
innodb_log_file_size=1G
innodb_flush_log_at_trx_commit=1 # Maintains rigid ACID properties for Outbox pattern consistency
max_connections=500